In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [4]:
query = """select 1 as number;"""
pd.read_sql(query, con=engine)

query = """
    select * from pg_catalog.pg_tables
    where schemaname != 'pg_catalog' and schemaname != 'information_schema';
"""
pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False

In [5]:
query = """
    select * from yellow_taxi_data limit 10
"""
pd.read_sql(query, con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1000000,1,2021-01-25 17:04:55,2021-01-25 17:14:08,1.0,0.90,1.0,N,161,186,1,7.5,3.5,0.5,3.00,0.0,0.3,14.80,2.5,None
1,1000001,2,2021-01-25 17:27:41,2021-01-25 17:34:51,2.0,1.75,1.0,N,162,236,1,7.5,1.0,0.5,2.36,0.0,0.3,14.16,2.5,None
2,1000002,2,2021-01-25 17:48:51,2021-01-25 18:01:25,2.0,1.92,1.0,N,140,43,1,10.0,1.0,0.5,2.86,0.0,0.3,17.16,2.5,None
3,1000003,2,2021-01-25 17:06:14,2021-01-25 17:11:49,1.0,1.03,1.0,N,140,141,1,6.0,1.0,0.5,2.06,0.0,0.3,12.36,2.5,None
4,1000004,2,2021-01-25 17:32:27,2021-01-25 17:41:15,1.0,1.64,1.0,N,162,141,1,8.0,1.0,0.5,2.46,0.0,0.3,14.76,2.5,None
5,1000005,2,2021-01-25 17:17:29,2021-01-25 17:27:47,1.0,1.62,1.0,N,162,100,1,8.5,1.0,0.5,2.56,0.0,0.3,15.36,2.5,None
6,1000006,1,2021-01-25 17:00:53,2021-01-25 17:08:24,1.0,1.40,1.0,N,236,141,1,7.0,3.5,0.5,2.25,0.0,0.3,13.55,2.5,None
7,1000007,1,2021-01-25 17:30:59,2021-01-25 17:55:57,1.0,3.90,1.0,N,140,113,1,18.0,3.5,0.5,5.55,0.0,0.3,27.85,2.5,None
8,1000008,2,2021-01-25 17:24:09,2021-01-25 17:30:08,4.0,1.51,1.0,N,170,113,1,7.0,1.0,0.5,2.26,0.0,0.3,13.56,2.5,None
9,1000009,2,2021-01-25 17:38:44,2021-01-25 17:58:24,5.0,4.10,1.0,N,164,238,1,16.5,1.0,0.5,4.16,0.0,0.3,24.96,2.5,None